[submodule "plugin/git-svn"]
  path = plugin/git-svn
  url = git@github.com:andrep/git-svn-clone-externals.git
[submodule "plugin/zaw"]
  path = plugin/zaw
  url = git@github.com:zsh-users/zaw.git
[submodule "plugin/env/Linux/git-flow-completion"]
	path = plugin/env/Linux/git-flow-completion
	url = git@github.com:bobthecow/git-flow-completion.git
[submodule "plugin/zsh-notify"]
	path = plugin/zsh-notify
	url = git@github.com:marzocchi/zsh-notify.git
[submodule "plugin/zsh-syntax-highlighting"]
	path = plugin/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
